@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
}

form input {
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
}

#game__container {
  background-image: url("assets/PS5.jpg");
}

#learning__container {
  background-image: url("assets/educabg.webp");
}

#bar {
  display: block;
  width: 30px;
  height: 3px;
  margin: 5px;
  background-color: #f5f5f5;
}